# GroupBy and Aggragate Functions.

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+-------+---+------+-------------+-----------+
|   Name|Age|Salary|         City| Department|
+-------+---+------+-------------+-----------+
|   John| 30| 72901|     New York|         HR|
|  Alice| 31| 72817|San Francisco|Engineering|
|    Bob| 32| 64682|  Los Angeles|      Sales|
|Charlie| 20| 62500|      Chicago|  Marketing|
|  David| 27| 56232|       Boston|    Finance|
|   John| 31| 43894|     New York|         HR|
|  Alice| 37| 44318|San Francisco|Engineering|
|    Bob| 32| 41379|  Los Angeles|      Sales|
|Charlie| 31| 63345|      Chicago|  Marketing|
|  David| 26| 58870|       Boston|    Finance|
|   John| 38| 79745|     New York|         HR|
|  Alice| 29| 63187|San Francisco|Engineering|
|    Bob| 36| 67289|  Los Angeles|      Sales|
|Charlie| 33| 42526|      Chicago|  Marketing|
|  David| 22| 79208|       Boston|    Finance|
|   John| 26| 69270|     New York|         HR|
|  Alice| 25| 43699|San Francisco|Engineering|
|    Bob| 36| 72481|  Los Angeles|      Sales|
|Charlie| 29| 63446|      Chicago|  Marketing|
|  David| 31| 48601|       Boston|    Finance|
+-------+---+------+-------------+-----------+
only showing top 20 rows

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Department: string (nullable = true)

## Groupby Operation.

In [9]:
## Grouped to find the maximu salary.

df_pyspark.groupBy('Name').sum().show()

+-------+--------+-----------+
|   Name|sum(Age)|sum(Salary)|
+-------+--------+-----------+
|Charlie|     175|     328290|
|    Bob|     182|     389830|
|   John|     196|     380551|
|  Alice|     175|     362252|
|  David|     154|     334602|
+-------+--------+-----------+

In [10]:
df_pyspark.columns

['Name', 'Age', 'Salary', 'City', 'Department']

In [11]:
## Grouped by department.
df_pyspark.groupBy('Department').sum().show()

+-----------+--------+-----------+
| Department|sum(Age)|sum(Salary)|
+-----------+--------+-----------+
|      Sales|     182|     389830|
|Engineering|     175|     362252|
|         HR|     196|     380551|
|    Finance|     154|     334602|
|  Marketing|     175|     328290|
+-----------+--------+-----------+

In [12]:
df_pyspark.groupBy('Department').mean().show()

+-----------+------------------+------------------+
| Department|          avg(Age)|       avg(Salary)|
+-----------+------------------+------------------+
|      Sales|30.333333333333332|64971.666666666664|
|Engineering|29.166666666666668|60375.333333333336|
|         HR|32.666666666666664|63425.166666666664|
|    Finance|25.666666666666668|           55767.0|
|  Marketing|29.166666666666668|           54715.0|
+-----------+------------------+------------------+

In [13]:
df_pyspark.groupBy('Department').count().show()

+-----------+-----+
| Department|count|
+-----------+-----+
|      Sales|    6|
|Engineering|    6|
|         HR|    6|
|    Finance|    6|
|  Marketing|    6|
+-----------+-----+

In [14]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    1795525|
+-----------+

In [15]:
## Who is getting the highest salary.
df_pyspark.groupBy('Name').max().show()

+-------+--------+-----------+
|   Name|max(Age)|max(Salary)|
+-------+--------+-----------+
|Charlie|      38|      63446|
|    Bob|      36|      78489|
|   John|      38|      79745|
|  Alice|      37|      79275|
|  David|      31|      79208|
+-------+--------+-----------+

In [17]:
## Who is getting the lowest salary.
df_pyspark.groupBy('Name').min().show()

+-------+--------+-----------+
|   Name|min(Age)|min(Salary)|
+-------+--------+-----------+
|Charlie|      20|      42526|
|    Bob|      20|      41379|
|   John|      26|      43894|
|  Alice|      24|      43699|
|  David|      20|      41422|
+-------+--------+-----------+